/* About.css */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .logo {
    max-width: 200px;
    margin-right: 20px; /* Adjust as needed */
  }
  
  .AboutUs-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    position: relative;
  }
  
  .AboutUs-navbar img:hover {
    max-width: 205px;
  }
  
  .links {
    display: flex;
    align-items: center;
  }
  
  .links a {
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 0 10px;
    font-weight: 200;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    border: 2px solid transparent;
  }
  
  .links .login-btn {
    border-color: #2a90d3;
  }
  
  .links .login-btn:hover {
    background-color: #2a90d3;
    letter-spacing: 5px;
  }
  
  .links .signup-btn {
    border-color: #14a24b;
  }
  
  .links .signup-btn:hover {
    background-color: #14a24b;
    letter-spacing: 5px;
  }
  
  .links .specific-link:hover {
    background-color: #09687d;
    letter-spacing: 5px;
  }
  
  .links :first-child {
    font-weight: bold;
    text-decoration: underline;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px; /* Adjust as needed */
  }
  
  .about-section,
  .mission-section,
  .story-section,
  .team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
  }
  
  .about-section img,
  .mission-section img,
  .story-section img {
    max-width: 100%;
    height: auto;
  }
  
  .about-content,
  .mission-content,
  .story-content {
    flex: 1;
    max-width: 800px; /* Adjust as needed */
    margin-top: 20px; /* Adjust as needed */
  }
  
  .footer {
    background-color: rgba(0, 0, 0);
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: 20vh;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .menu-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .sidebar {
    position: fixed;
    height: 100%;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: white;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
  }
  
  .sidebar.show {
    transform: translateX(0);
  }
  
  .main-content.show-sidebar {
    margin-left: 200px;
    transition: margin-left 0.3s ease;
  }
  