.socials-header h2{
    font-weight: bolder;
    letter-spacing: 8px;
    font-size: 40px;
}

.started-container {
    height: 100vh;
    max-width: 100vw;
    background:linear-gradient(to left, rgba(13, 95, 113, 1), rgba(13, 95, 113, 0));
}

.social-button{
    color: white;
    border: none;
    border-radius: 5px;
    width: 55%;
    height: 40px;
    background-color: rgba(25, 166, 197, 0.7);
    margin-bottom: 10px;
    font-weight: 200;
    transition: background-color 0.3s;
    z-index: 10;
    position: relative;
}

.fa-eye, .fa-eye-slash {
    color: #ffffffa3 !important;
    font-size: 15px;
}

.social-button:focus {
    outline: none;
}

.social-button:hover {
    outline: none;
    background-color: rgba(13, 131, 158, 0.7);
}

.socials-header {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    /* margin-top: 120px; */
}

.login-section{
    padding-left: 100px;
    /* margin-top: 80px; */
    padding-right: 100px;
}
.signup-section{
    padding-left: 100px;
    /* margin-top: 50px; */
    padding-right: 100px;
}

.overlay-started h3{
    font-weight: bolder;
    letter-spacing: 15px;
}

.login-form input{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
    color: white;
}


.login-form input:focus {
    background: none;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    border-radius: 0;
    outline: none !important; 
}

.forgot-password p{
    text-decoration: none;
    color: white;
    font-size: x-small;
    letter-spacing: 2px;
    font-weight: 100;
    z-index: 10;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
}

.submit-button{
    color: white;
    border: none;
    border-radius: 5px;
    width: 85px;
    height: 35px;
    background-color: rgba(25, 166, 197, 0.7);
    margin-top: 20px;
    margin-bottom: 10px;
    transition: background-color 0.3s; 
    font-weight: 200;
    position: relative;
    z-index: 10;
}

.submit-button:focus {
    outline: none;
}

.submit-button:hover {
    outline: none;
    background-color: rgba(13, 131, 158, 0.7);
}

.form-control::placeholder {
    color: white;
    font-size: small;
    font-weight: 100;
    letter-spacing: 5px;
}

.overlay-started .form-group {
    padding-bottom: 10px;
}
