.image-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    overflow: hidden;
    max-height: 100vh;
}

.image-container img {
    max-width: 100vw;
}

.logo{
    max-width: 200px;
}
.home-navbar {
    display: flex;
    justify-content: space-between;
}
.home-navbar a {
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 20px;
    font-weight: 200;
    text-decoration: none;
}
.links {
    padding: 20px;
}

.links :last-child {
    background-color: #054D5D;
    padding: 5px 30px;
    border-radius: 20px;
    transition: padding 0.3s ease;
}
.links :last-child:hover {
    background-color: #09687d;
    padding: 8px 35px;
    letter-spacing: 5px;
}

.body {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.home-container h1{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 10px;
    margin: 0 auto;
}

.home-container h2{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    margin: 0 auto;
}

.header {
    position: absolute;
    left: 15vw;
    top: 40vh;
}