#image-container{
    /* comment for fixed dimentsions */
    position: relative;
    width: 1440px;
    height: 650px;
    margin: 0 auto;
    overflow: hidden;
    /* cursor: move; */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
#image-container:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.konvajs-content {
    position: absolute;
    top: 0;
    left: 0;
}